@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', serif !important;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #1F242BFF !important;
}

.footer {
    text-align: left;
}

.footer h5 {
    color: #ffcf40;
}

.footer a {
    color: white;
}

/* Antialiasing disabled */
img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}