@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #141a23 !important;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    color: #ebdec2;
    background: url(/assets/background.png);
    background-repeat: no-repeat;
    background-position: top;
}

h1 {
    text-transform: uppercase;
    font-family: "Oswald",Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
}

h2 {
    text-transform: uppercase;
    font-family: "Oswald",Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
}

h3 {
    text-transform: uppercase;
    font-family: "Oswald",Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
}

h4 {
    text-transform: uppercase;
    font-family: "Oswald",Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
}

h5 {
    text-transform: uppercase;
    font-family: "Oswald",Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
}

.main-container {
    max-width: 1400px !important;
    padding: 0px 15px;
    color: #1e1e1e;
}

.scroll-overflow-without-bar::-webkit-scrollbar {
    overflow: scroll;
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.scroll-overflow-without-bar {
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}