@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #1F242BFF !important;
}

.main-container {
    max-width: 1400px !important;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    text-align: center;
    color: white;
    background-color: #1F242B;
}

.container a :hover {
    text-decoration: none;
}

.footer-shop a {
    color: #FFCF40;
}

.footer-shop {
    margin-top: 30px;
}

.adapt-img {
    max-width: 100%;
}

.header {
    text-align: left;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.header a {
    color: #FFCF40;
}

.header img {
    margin-right: 10px;
}

.modal {
    color: black;
}

.partner-project-info {
}

.justify {
    text-align: justify;
}

.partner-project-info a {
    color: #FFCF40FF;
}

.modal-footer {
    border: 0px !important;
}
.modal-header {
    border: 0px !important;
}

.pixel-font {
    font-family: 'Press Start 2P', Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif !important;
    font-size: 12px;
}

.footer {
    text-align: left;
}

.footer h5 {
    color: #ffcf40;
}

.footer a {
    color: white;
}

