
html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #1F242BFF !important;
}

.main-container {
    min-height: 100vh;
    max-width: 1400px !important;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    text-align: center;
    color: white;
    background-color: #1F242BFF;
}

.container a :hover {
    text-decoration: none;
}

.adapt-img {
    max-width: 100%;
}

.header {
    text-align: left;
}

.header a {
    color: #FFCF40FF;
}

.header img {
    margin-right: 10px;
}

.modal {
    color: black;
}

.footer a {
    color: #FFCF40FF;
}

.footer {
    margin-top: 30px;
}

.partner-project-info {
}

.justify {
    text-align: justify;
}

.partner-project-info a {
    color: #FFCF40FF;
}
